.Accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Accordion-control {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #e7e7e7;
}

.Accordion-chevron {
  width: 8px;
  fill: black;
  transform: rotate(90deg);
}

.Accordion-chevron.rotated {
  transform: rotate(-90deg);
}

.Accordion-control-left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.Accordion-control-title {
}

.Accordion-content {
  padding: 16px 0;
}