.TicketResultList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TicketResultList-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TicketResultList-ticket + .TicketResultList-ticket {
  margin-top: 16px;
}

.TicketResultList-dropdown {
  width: 100%;
}

.TicketResultList-dropdown-control {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #e7e7e7;
  padding: 16px 0;
  margin-bottom: 12px;
}

.TicketResultList-dropdown-title {
  flex-grow: 1;
}

.rotated {
  transform: rotate(180deg);
}

.TicketResultList-highlights {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  width: 100%;
}

.TicketResultList-highlight {
  display: flex;
  flex-direction: column;
}

.TicketResultList-highlight + .TicketResultList-highlight {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #e7e7e7;
}

.TicketResultList-highlight-title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 16px;
}

.TicketResultList-discountMessage {
  border: 1px solid #022d68;
  color: #022d68;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.TicketResultList-mix {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  border-bottom: 1px solid #e7e7e7;
}

.TicketResultList-mix-title {
  color: black;
  font-weight: bold;
  font-size: 14px;
  flex-grow: 1;
}

.TicketResultList-mix-chevron {
  width: 8px;
  fill: black;
}