.JourneyResult {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
}

.JourneyResult-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.JourneyResult-badges > * {
  margin-right: 16px;
}

.JourneyResult-details {
  flex-grow: 1;
}

.JourneyResult-logo {
  width: 40px;
  margin-right: 16px;
}

.JourneyResult-time {
  font-size: 22px;
  font-weight: bold;
}

.JourneyResult-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.JourneyResult-prices-standard {
  font-weight: bold;
  font-size: 22px;
}

.JourneyResult-prices-first {
  padding-top: 8px;
  font-size: 12px;
}

.JourneyResult-bottom {
  align-items: center;
  font-size: 14px;
  border-top: 1px solid #e7e7e7;
  margin-top: 16px;
}

.JourneyResult-length {
  flex-grow: 1;
  padding: 12px 0;
}

.JourneyResult-info {
  padding: 12px 0;
  color: #ce0e2d;
}

.JourneyResult-priceLabel {
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;
  color: #707070;
}

.JourneyResult-personIcon {
  fill: #707070;
  height: 12px;
  padding: 0 4px;
}

.JourneyResult-chevron {
  fill: #707070;
  width: 12px;
  margin-left: 16px;
  flex-shrink: 0;
}

.JourneyResult-top {
  align-items: center;
}

.JourneyResult-top-content {
  flex-grow: 1;
}