.ResultsHeader {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e77c8d;
}

.ResultsHeader-title {
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  background-color: #ce0e2d;
  color: white;
}

.ResultsHeader-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 2px;
  font-size: 14px;
  padding: 6px 16px;
}

.ResultsHeader-subtitle-right {
  text-align: right;
}