.TicketTypePicker {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.TicketTypePicker-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  flex-basis: 25%;
  text-align: center;
}

.TicketTypePicker-section-label {
  padding-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}

.TicketTypePicker-section.selected .TicketTypePicker-section-label {
  color: #ce0e2d;
}

.TicketTypePicker-section-icon {
  width: 32px;
  height: 32px;
  fill: #707070;
}

.TicketTypePicker-section.selected .TicketTypePicker-section-icon {
  fill: #ce0e2d;
}