@font-face {
  font-family: "GothamSSm";
  font-weight: bold;
  src: url("./fonts/GothamSSm-Bold.otf") format("opentype");
}

@font-face {
  font-family: "GothamSSm";
  font-weight: normal;
  src: url("./fonts/GothamSSm-Book.otf") format("opentype");
}

#App-mobileFrame {
  font-family: "GothamSSm";
  width: 100vw;
  height: 100vh;
  position: relative;
}
